.d-flex{
  margin-right:15%;
}
.container {
  position: relative;
}
  body, html {
    height: 100%;

}
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Santander.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-weight: bold;
}

/* Bottom right text */
.text-block {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 30px;
  border: 5px solid #f1f1f1;
  position: absolute; /* Stay fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 300px;
  padding: 20px;
  text-align: center;
}
.footer {
    padding: 5px; /* Some padding */
    text-align: center; /* Center text*/
    background:white; /* Grey background */
  }
  img.sticky {
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    border-radius: 50%;
    width: 10%;
   margin-left: 89%;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  .sticky:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }  
  p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-align: left;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 20;
  }
  h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:white;
    text-align: left;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 20;
  }
  .video{
    text-align: center;
    
  }
  body{
    background-color:#2c2b30;
  }
  h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:white;
    text-align: left;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 20;
  }
  footer {
    text-align: center;
    padding: 20px;
    background-color:#f8f9fa;
    color: white;
  }
  .fa {  
    padding: 17px;  
  text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px;  
  }  
  
  /* Add a hover effect if you want */
  .fa-linkedin {  
    background: #007bb5;  
    color: white;  
    border-radius: 50%;
  }  
  .fa-instagram {  
    background: #125688;  
    color: white;  
    border-radius: 50%;
  }  

  .copy{
    color:grey
  }
  

