
h1{
    font-family: Arial, sans-serif;
    color:white;
    text-align: center;
    margin-top: 25px;
    
}
h3{
    font-family: Arial, sans-serif;
    color:white;
    text-align: center;
    margin-bottom: 70px;
 
  
  margin-left: 75px;
}
img.sticky {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  border-radius: 50%;
  width: 10%;
 margin-left: 89%;
}
p{
    font-family: Arial, sans-serif;
    color: white;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-right: 45px;
  margin-left: 45px;
  font-size: 20px;
}
h4{
    font-family: Arial, sans-serif;
    margin-left: 45px;
}
body{

    font-family: Arial, sans-serif;
    background-color:white ;
    
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 3%;
}

#fotoroster{
    margin-left: 20px;
    float:left
    
}
span{
vertical-align: middle;
}

#fotitos
{
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 30%;
}

  
  
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* Full height */
    height: 50%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-image.img3 {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

  }
  /* Images used */
  .img2 { background-image: url("IMG_2240\(1\).JPG");}
  .img3 { background-image: url("purdue\ logo.jpg"); }
  .img4 { background-image: url("https://www.udacity.com/blog/wp-content/uploads/2021/03/Learning-C_Blog-scaled.jpeg"); }
  
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 30px;
    border: 5px solid #f1f1f1;
    position: fixed; /* Stay fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: center;
  }
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .floatleft {
    position: relative;
    width: 50%;
    
  }
  
  /* Make the image to responsive */
  body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Primermac.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-weight: bold;
}

  
 footer {
   height: 50px;
  text-align: center;
  padding: 20px;
  background-color: white;
  color: white;
}
.fa {  
  padding: 20px;  
text-align: center;  
  margin: 3px 2px;  
  font-size: 30px;  
  width: 50px;  
}  

/* Add a hover effect if you want */
.fa-linkedin {  
  background: #007bb5;  
  color: white;  
  border-radius: 50%;
}  
.fa-instagram {  
  background: #125688;  
  color: white;  
  border-radius: 50%;
}  

.copy{
  height:30px;
  color:grey
}
  
  
  